<ion-view view-title="Food List">
  <ion-content>
    <ion-list>
	  <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item_info in food_list" type="item-text-wrap" href="#/app/food_list/{{item_info.id}}">
           <img ng-src ={{item_info.imgsrc}}>  
         
          <h2>{{ item_info.title }}</h2>
		  <h4>{{item_info.calories}}</h4>
          <p>{{chat.lastText}}</p>
		  <i class="icon ion-chevron-right icon-accessory"></i>

	  </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
