<ion-view view-title="About">
  <ion-content>
  <div class="list">

  <a class="item item-icon-left" href="mailto:petre.d.android@gmail.com">
    <i class="icon ion-email"></i>
    Email
  </a>

  <a class="item item-icon-left" href="https://ie.linkedin.com/in/petrediaconescu" target="_blank">
    <i class="icon ion-social-linkedin"></i>
    Connect
  </a>

  <a class="item item-icon-left" href="https://github.com/petrediaconescu" target="_blank">
    <i class="icon ion-social-github"></i>
    Github
  </a>

  <a class="item item-icon-left" href="https://petrediaconescu.wordpress.com" target="_blank">
    <i class="icon ion-social-wordpress"></i>
    Blog
  </a>

</div>
    
  </ion-content>
</ion-view>