<ion-view view-title="Burn calories">
  <ion-content>
    <ion-list>
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Body weight in Kg.</span>
    <input type="text" placeholder="Body weight in Kg." id="bodyWeight">
  </label>
<!--   <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Suhr">
  </label> -->
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Calories burned</span>
    <input type="text" id="caloriesBurned" value="" readonly> Calories burned per minute
  </label>
</div>

<button class="button button-calm" onclick="calculateCaloriesBurned()">
	Calculate
</button>
    </ion-list>
	
	<script type="text/javascript">
function calculateCaloriesBurned() {
  var bw = document.getElementById('bodyWeight').value;
  var cals = (4 * 3.5 * bw)/200;
  document.getElementById('caloriesBurned').value = cals;
}
</script>
  </ion-content>
</ion-view>


